* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;

}
#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding: 0.1px; /* this is just to resolve the margin bug */
}
#nav {
    height: 12vh;
    width: 100%;
    margin-top: 30px;

    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h2 {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 20px;
    font-weight: 580;
    font-family: Arial, Helvetica, sans-serif;
    
}
#nav h3 {
    display: none;
}
#nav h1 {
 
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    letter-spacing: -1.5px;
    font-size: 35px;
    position: relative;
    
}
#nav h1::after{
    content: "©";
    font-family: open sans;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 14%;
    right: 10%;
}
#nav h1::before{
    content: "model management";
    position: absolute;
    font-size: 11px;
    font-family: open sans;
    font-weight: 600;
    letter-spacing: 0.1px;
    bottom: 12%;
    right: 17%;
}

#nav h2:nth-child(2){
   width: 20%;
}
#nav h2:nth-child(4){
    width: 30%;
}
#nav h2:nth-child(3){
    width: 22%;
}
#nav h2:nth-child(5){
    width: 15%;
    border-right: none;
    font-size: 25px;
}

#center {
    height: 83%;
    width: 100%;
    padding: 3vw;
    position: relative;
}
#content {
    height: 100%;
    width: 100%;
    position: relative;
    
}
#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 4vw;
    padding-bottom: 1vw;
    color: #fff;
}
#over1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;  
}
#over1 h1 {
    font-family: monument;
    font-weight: 550;
    font-size: 3vw;
    mix-blend-mode: difference;
}
#over1 h2 {
   font-family: sans-serif;
   font-size: 1vw;
   font-weight: 500;
   padding: 2vw 2vw;
   border-radius: 50%;
   border: 1px solid #fff;
}
#over2 {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding-top:15px;   
}
#over2 h3 {
    font-family: Open sans;
    font-weight: 400;
    mix-blend-mode: difference;
}

#over2 img {
   height: 3vw;

}
#scroll {
    background-color: #f8f8f8;
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;

}
#scroll::-webkit-scrollbar {
    display: none;
}
#container {
    height: 100%;
    width: 100%;
    display: inline-block;
    animation-name: imagemove;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#container2 {
    background-color: #f8f8f8;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 0;
    display: inline-block;
    left: 149%;
    animation-name: imagemove;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    height: 72%;
    width: 13%;
    margin: 22px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
@keyframes imagemove {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
    
}

#alphabet {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h5 {
    font-size: 1.8vw;
    font-style: italic;
    font-family: open sans;
    font-weight: 480;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
}
#alphabet h6 {
    font-size: 1vw;
    font-style: italic;
    font-family: open sans;
    font-weight: 400;
    cursor: pointer;
    transition: all ease 0.2s;
    padding: 0.4vw 0.8vw;
    border-radius: 50%;
    border: 1px solid  rgba(0, 0, 0, 0)
   
}
#alphabet h6:hover {
    border: 1px solid black;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10%;
    padding: 4vw 5vw;
    padding-bottom: 1vw;
}
#page2-p1 {
    height: 100%;
    width: 50%;
   
}
#page2-p1 img {
    height: 88%;
    width: 100%;
    object-fit: cover;
    
    
}
#page2-p1 h1{
    font-family: monument;
    font-size: 2.8vw;
    padding-top: 2vh;
    
}
#page2-p2 {
    height: 100%;
    width: 40%;
}
#page2-p2 img {
    height: 70%;
    width: 100%;
}
#text {
    display: flex;
    height: calc(100% - 70%);
    gap: 3vw;
    font-family: open sans;
    padding-top: 2vh;

}
#text h3 {
    font-weight: 900;
    font-size: 1.3vw;
    
}
#text p {
    font-size: 12px;
    margin-right: 20px;
    font-weight: 650;
}
#page3 {
    height: 100%;
    width: 100%;
    
    display: flex;
    gap: 15%;
    padding: 2vw 5vw;
}
#left {
    height: 100%;
    width: 35%;
    
    
}
#left img {
    margin-top: 6vh;
    height: 60%;
}
#left h1 {
    margin-left: 4vw;
    opacity: 0.8;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-top: 10vh;
    font-family: open sans;
    font-size: 1.6vw;
}
#right{
    height: 100%;
    width: 45%;
    background-color: lightblue;
}
#right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}

#page4 {
    height: 100%;
    width: 100%;
    padding: 2vw 5vw;
    padding-bottom: 1.8vw;
}
#page4 img {
     height: 100%;
     width: 100%;
    object-fit: cover;
    object-position: top;
   
}
#page5 {
    height: 100%;
    width: 100%;
    padding: 0.1px;
    padding: 0 5vw;
}
#page5>h1 {
    font-size: 3vw;
    font-family: monument;
    font-weight: 600;
    margin-top: 4vw;
    margin-bottom: 4vw;
   
    text-align: center;
}
.elem {
    height: 19.5vh;
    border-top: 2px solid #000;
    position: relative;
    display: flex;
    padding-left: 2vw;
}
.elem img {
   position: absolute;
   height: 115px; 
   width: 118px;
   border-radius: 50%;
   left: 12%;
   opacity: 0;
   transition: all ease 0.6s;  
}
.elem:hover img{
    opacity: 1;
    left: 25%;
}
.el1{
    height: 100%;
    width: 42%;
    padding-top: 2vw;
    padding-left: 0.2vw;
    font-size: 1.2vw;
    font-family: open sans;
    font-weight: 400;

}

.el3{
    height: 100%;
    width: 50%;
    font-family: open sans thin;
    font-weight: 700;
    font-size: 1.5vw;
    padding-top: 1.8vw;
    padding-left: 10.8vw;
    
}

.elem:nth-child(5){
    border-bottom: 2px solid black;
}

#page6 {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10%;
    padding: 4vw 5vw;
    padding-bottom: 1vw;
}
#left6 {
    height: 100%;
    width: 45%;

}
#right6 {
    height: 100%;
    width: 45%;
}
#left6 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#uptext {
    height: 45%;
    width: 100%;
   
}
#uptext h1 {
    font-family: monument thin;
    font-size: 2.6vw;
    font-weight: 900;
}
#uptext h3 {
    font-family: open sans;
    margin-top: 2vw;
    line-height: 1.2;
    width: 55%;
    opacity: 0.8;
}
#uptext p {
font-size: 2.3vh;
margin-top: 2.4vw;
font-weight: 600;
font-family: open sans;
width: 90%;
opacity: 0.9;
}
#pic {
    height: 55%;
    width: 100%;
    display: flex;
    gap: 8%;
}
#pic img {
    height: 100%;
    width: fit-content;
}

#marque {
    height: 12vh;
    width: 100%;
    margin-top: 4vw;
    padding: 0.9vw;
    white-space: nowrap;
    overflow-x:hidden;
    overflow-y: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    

}
#marque h1 {
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: monument;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: movetext;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes movetext {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}


#bottom {
    height: 100%;
    width: 100%;
}
#uphalf {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 8%;
    padding-bottom: 3.5vw;
    padding-left: 5vw;
    padding-top: 7vw;
}
#uphalf>h1{
    width: 10%;
    font-family: monument ;
    font-size: 3vw;
    opacity: 0.9;
   
    
}
#card1{
    height: 100%;
    width: 30%;
}
#card1 h3 {
    margin-top: 1vw;
    margin-bottom: 3vw;
    width: 90%;
    font-family: open sans regular;
    font-size: 1.4vw;
    font-weight: 600;
    line-height: 1.4;
}
#card1 h3 span {
    font-size: 1vw;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 50%;
}
#card1 img{
    height: 66%;
    width: 90%;
    object-fit: cover;
   
}
#card2{
    height: 100%;
    width: 30%;
}
#card2 h3 {
    margin-top: 1vw;
    margin-bottom: 3vw;
    width: 100%;
    font-family: open sans regular;
    font-size: 1.4vw;
    font-weight: 600;
    line-height: 1.4;
}
#card2 h3 span {
    font-size: 1vw;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 50%;
}
#card2 img{
    height: 66%;
    width: 100%;
    object-fit: cover;
   
}
#footer {
    height: 50%;
    width: 100%;
    padding: 2vw 0;
}
#footgrid {
    height: 100%;
    width: 100%;
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#foot1 {
    height: 100%;
    width: 35%;
    position: relative;
}
#foot1 h1 {
    padding-left: 4vw;
    padding-top: 2vw;
    font-family: monument;
    letter-spacing: -1.5px;
    font-size: 35px;
    position: relative;
    
}
#foot1 h1::after{
    content: "©";
    font-family: open sans;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 34%;
    right: 47%;
}
#foot1 h1::before{
    content: "model management";
    position: absolute;
    font-size: 11px;
    font-family: open sans;
    font-weight: 600;
    letter-spacing: 0.1px;
    top: 92%;
    right: 50%;
}
#foot1 h3 {
    position: absolute;
    font-family: open sans;
    font-size: 1.4vw;
    top: 14%;
    right: 12%;
    letter-spacing: -0.5px;
}
#foot2 {
    height: 100%;
    width: 25%;
    border-left: 2px solid black;
    border-right: 2px solid black;
   
}
#foot2 h3 {
    font-family: open sans;
    font-size: 1.4vw;
    padding-left: 28%;
    padding-top: 2.6vw;
    letter-spacing: -0.5px;
}
#foot3 {
    height: 100%;
    width: 40%;
   
}
#ftop {
    height:40%;
    width: 100%;
    border-bottom: 2px solid #000;

}
#ftop h3 {
    font-family: open sans;
    font-size: 1.4vw;
    padding-top: 2.5vw;
    padding-left: 4vw;
    letter-spacing: -0.5px;
}
#fbottom {
    height:60%;
    width: 100%;
    padding: 2vw 4vw;

}
#fbottom i {
    font-size: 1.2vw;
    margin-right: 1.2vw;
   
}
#fbottom h4 {
    font-family: open sans;
    font-size: 0.9vw;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.btext{
    margin-top: 1.2vw;
}

@media (max-width: 600px){

    #nav {
        height: 6vh;
        margin-top: 10px;
    }
    #nav h2 {
        display: none;
        border-right: none;
    }
    #nav h1 {
        width: 45%;
        letter-spacing: -1.8px;
        font-size: 28px;  
    }
    #nav h3 {
        display: initial;
        font-size: 26px;
        margin-right: 12px;
    }
    #nav h1::after{
        display: none;
    }
    #nav h1::before{
        display: none;
    }
    
    #center {
        height: 50%;
        padding: 3vw;
        padding-top: 5vw;

    }
    #overlay {
        height: 40%;
    }
    #over1 {
        padding-bottom: 25px;  
    }
    #over1 h1 {

        font-size: 5vw;

    }
    #over1 h2 {

       font-size: 2.8vw;
       padding: 2vw 2vw;

    }
    #over2 {
        padding-top:10px;   
    }
    #over2 h3 {
        font-size: 3.8vw;
    }
    
    #over2 img {
       height: 5.2vw;
    }

    #scroll {
        height: 24vh;
        padding-top: 6vw;
    }
    #container2 {
        left: 0%;
       
    }
    #scroll img{
        height: 65%;
        width: 32%;
        margin: 12px;
    }

    #alphabet {
        height: 6vh;
        gap: 0.5vw;
        margin-bottom: 8vw;
    }
    #alphabet h5 {
        font-size: 3vw;
        letter-spacing: 2px;
        margin-right: 4px;
    }
    #alphabet h6 {
        font-size: 2.2vw;
        padding: 0.5vw 0.6vw;
       
    }
    #page2{
        height: 100%;
        width: 100%;
        display: block;
        padding: 2vw 3vw;
        padding-bottom: 0vw;
        margin-bottom: 0.8vw;
    }
    #page2-p1 {
        height: 45%;
        width: 100%;
       
    }
  
    #page2-p1 h1{
        font-family: monument;
        font-size: 4.6vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        
    }
    #page2-p2 {
        height: 56%;
        width: 100%;
    }
    #page2-p2 img {
        height: 70%;
        width: 100%;
    }
    #text {
        height: calc(100% - 70%);
        gap: 2vw;

    
    }
    #text h3 {
        font-size: 3.5vw;
        
    }
    #text p {
        font-size: 2.6vw;
        margin-right: 20px;
    }
     
    #page3 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8%;
        padding: 2vw 3vw;
    }
    #left {
        height: 30%;
        width: 100%;
    }
    #left img {
        padding-left: 5vw;
        margin-top: 0;
        height: 105%;
    }
    #left h1 {
        margin-left: 4vw;
    
        margin-top: 0.1vh;
      
        font-size: 3.6vw;
    }
    #right{
        height: 60%;
        width: 100%;
    }
    #page4 {
        height: 60%;
        width: 100%;
        padding: 6vw 3vw;
     
    }
    #page4 img {
         height: 100%;
         width: 100%;
       
    }
 
    #page5 {
        height: 66%;
        width: 100%;
        padding: 0.1px;
        padding: 0 5vw;
    }
    #page5>h1 {
          font-size: 6.8vw;
          margin-bottom: 6.8vw;
    }
    .elem {
           height: 12vh;
    }
    .elem img {
         height: 88.2px; 
         width: 91.5px;
        
    }
    .elem:hover img{

          left: 21%;
    }
    .el1{
          font-size: 3.8vw;
        
    
    }
    
    .el3{
          font-size: 4.2vw;
       
    }
    
    #page6 {
           flex-direction: column;
           gap: 1%;
        padding: 2vw 5vw;
        padding-bottom: 1vw;
    }
    #left6 {
          height: 48%;
        width: 100%;
    
    }
    #right6 {
        
          height: 50%;
          width: 100%;
    }

    #uptext {
          height: 25%;
        width: 100%;
       
    }
    #uptext h1 {
          font-family: monument;
          font-size: 4.4vw;
          font-weight: 600;
    }
    #uptext h3 {
           font-size: 4vw;
           margin-top: 1.6vw;

          width: 100%;

    }
    #uptext p {
        display: none;
    }
    #pic {
        height: 56%;
        gap: 4%;
    }
    #pic img {
        height: 36.5vh;
        width: 42vw;
    }
    #marque {
           height: 8vh;
            padding: 2.5vw;
    }
    #marque h1 {
           font-size: 9.8vw;
    }

    #bottom {
        height: 100%;
        width: 100%;
    }
    #uphalf {
          flex-direction: column;
          gap: 1vw;
        padding-bottom: 2.5vw;
    }
    #uphalf>h1{
        width: 100%;
           font-size: 6.8vw;
           margin-bottom: 4vw;
    }
    #card1{
        height: 45%;
        width: 100%;
    }
    #card1 h3 {
        margin-top: 1vw;
           width: 95%;
           font-size: 3.6vw;
    }
    #card1 h3 span {
           font-size: 3.6vw;
           padding: 4px 9px;
    }
    #card1 img{
          height: 70%;
          width: 92%;
    }
    #card2{
           height: 50%;
           width: 96%;
    }
    #card2 h3 {
           margin-top: 0vw;
           font-size: 3.6vw;
    }
    #card2 h3 span {
           font-size: 3.6vw;
           padding: 4px 9px;
    }
    #card2 img{
           height: 76%;
    }

    #footer {
        height: 30%;
        width: 100%;
        padding: 2vw 0;
    }
    #footgrid {
       
           flex-direction: column;
      
    }
    #foot1 {
           height: 25%;
           width: 100%;
    }
    #foot1 h1 {
           padding-left: 3vw;
        padding-top: 2vw;

           font-size: 7.2vw;
        
    }
    #foot1 h1::after{
        display: none;
    }
    #foot1 h1::before{
        display: none;
    }
    #foot1 h3 {
    
            font-size: 3.2vw;
           top: 30%;
           right: 40%;
        letter-spacing: -0.5px;
    }
    #foot2 {
           height: 22%;
           width: 100%;
       
    }
    #foot2 h3 {
          font-size: 3.6vw;
           padding-left: 3vw;
           padding-top: 2vw;
      
    }
    #foot3 {
        width: 100%;
       
    }
    #ftop {
        height:30%;
        width: 100%;
    
    }
    #ftop h3 {

           font-size: 3.6vw;
           padding-top: 1vw;
           padding-left: 4vw;

    }
    #fbottom {

        width: 100%;
        padding: 4vw 4vw;
    
    }
    #fbottom i {
          font-size: 4.2vw;
          margin-right: 3.8vw;
       
    }
    #fbottom h4 {
        font-family: open sans;
        font-size: 2.2vw;
        font-weight: 700;
        letter-spacing: -0.5px;
    }
    .btext{
        margin-top: 1.2vw;
    }

}